$fontColor: #0091aa;
$colorHeading: #be4a14;
$colorNav: #000;
$colorHover: blue;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

div {
    height: 50px;
    width: 100px;
}